.gallery-photos {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  padding: 30px 60px;
  margin: 20px 0px 0px 300px;
  border-radius: 6px;
  background: white;
}

.gallery-photos h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.gallery-photos input[type="text"],
.gallery-photos input[type="file"] {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  padding-left: 15px;
  border: 1px solid #c3c3c3;
  outline: none;
  color: #7b7b7b;
  font-family: "Poppins";
  font-size: 14px;
  margin-top: 10px;
}

.gallery-photos button {
  box-sizing: border-box;
  width: 160px;
  height: 50px;
  border-radius: 6px;
  background: #6079ff;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

.gallery-photos button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

@media(max-width: 800px) {
  .gallery-photos {
    width: auto;
    padding: 30px;
    margin: 20px;
  }
}
