.productdisplay{
    display: auto;
    margin: 10px 80px 0px 80px;
}

.productdisplay-left{
    display: flex;
    gap: 17px;
    float: left;
}

.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productdisplay-img-list img {
    height: 138px;
}

.productdisplay-main-img{
    width: 550px;
    height:600px;
}