.sidebar {
    display: flex;
    padding-top: 20px;
    padding-bottom: 30px;
    gap: 20px;
    width: auto;
    background: white;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    padding-left: 80px;
    background-color: rgb(108, 249, 176);
}

.sidebar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 6px;
    background: #f6f6f6;
    gap: 20px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .sidebar {
        padding: 30px 0px;
        flex-direction: row;
        justify-content: flex-start; /* Align items to the start */
        overflow-x: auto; /* Enable horizontal scrolling if needed */
    }

    .sidebar-item {
        margin: 0;
    }
}
