
.user-profile-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.user-details {
  width: 45%;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  
  margin-bottom: 20px;
  background: none;
}

.user-details h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

.user-details p {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #555;
}

.order-details {
    height: 60vh; /* Set specific height */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-top: 40px;
    margin-bottom: 20px;
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .order-details h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
  }
  
  .order-details table {
    width: 100%;
    border-collapse: collapse;
    
  }
  
  .order-details th,
  .order-details td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  .order-details th {
    background-color: #f0f0f0;
  }

  .order-details tbody tr:hover {
    background-color: #f9f9f9;
  }

  .order-details button {
    padding: 8px 12px;
    border: none;
    background-color: #dc3545;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .order-details button:hover {
    background-color: #c82333;
  }

  @media (max-width: 768px) {
    .user-details,
    .order-details {
      width: 100%;
    }
  }