.list-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 740px;
    padding: 10px 50px;
    margin:20px 20px 20px;
    border-radius: 6px;
    background: white;
}

.list-product h1{
    color: #333;
    font-size: 30px;
}


.listproduct-format-main{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    padding: 20px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
    
}
.listproduct-format {
    align-items: center;
    font-weight: 500;
}
.listproduct-product-icon{
    height: 80px;
}
.listproduct-remove-icon{
    cursor: pointer;
    margin: auto;
}
.listproduct-allproducts{
    overflow-y: auto;
    
}



.count{
    color: red;
    font-weight: 600;
}
.productcount{
    margin-left: 600px;
}
@media(max-width:800px){
    .list-product{
        box-sizing: border-box;
        width: 95%;
        height: 100px;
        padding: 10px 30px;
        margin: 20 px auto;
    }
    .listproduct-format-main{
        padding: 15px 0px;
        color: #454545;
        font-size: 12px;
    }
    .listproduct-product-icon{
        height: 60px;
    }
}